<div class="empty_block empty_block_pt">
  <i class="icon icon_bookmark_light"></i>
  <h1 class="empty_title">Add Startups to This List</h1>
  <p class="empty_text">Use lists to collect startups. To add a startup click on list <br> icon next to this startup and select a list </p>
</div>