<div class="dashboard__pane--logos_empty">
  <i class="icon icon_empty_dash"></i>
  <strong>Ask Evol8tion for Startups!</strong>
  <p>The latest startups Evol8tion curates for you will show up here.</p>
</div>