<div class="dashboard__pane--activity_empty">
  <i class="icon icon_check_rect_alt"></i>
  <strong>Welcome to Pipeline</strong>
  <p style="padding:10px 20px 10px 20px; text-align: justify;"> May your innovation pipeline flow freely and vigorously with ideas capable
      of changing the game for your business.</p>
</div>