<div class="dashboard__pane--aside dashboard__pane--activity clearfix">
  <%= link_to 'view all', activities_path, class:'dashboard__pane--all' %>
  <h4 class="dashboard__pane--title clearfix">ACTIVITY</h4>
  <%= render partial: 'activity', collection: @activities %>
</div>