<div class="dashboard__pane--recent_empty">
  <i class="icon icon_check_rect_alt"></i>
  <strong>You have no saved searches.</strong>
  <p>Once you or a team member saves an advanced search query, it will appear here, making it easy to requery!</p>
</div>
