<div class="slide-panel from-right" data-btn="send_announcement">
  <div class="slide-panel-container">
    <div id="announcement-form" class="slide-panel-content slide-panel-content_pb">
    </div>
  </div>
</div>

<div class="slide-panel from-right no_translate_sliding visible_panel" data-btn="announcements_details">
  <div class="slide-panel-container">
    <div id="announcement-details" class="slide-panel-content slide-panel-content_no_padd">
    </div>
  </div>
</div>

<div class="slide-panel from-right" data-btn="announcements_preview">
  <div class="slide-panel-container">
    <div id="announcement-preview" class="slide-panel-content slide-panel-content_no_padd">
    </div>
  </div>
</div>