<div class="empty_block empty_block_pt">
  <i class="icon icon_scorecard"></i>
  <h1 class="empty_title">No Scorecards</h1>
  <p class="empty_text">Generate a new scorecard with this template</p>
</div>
