<div class="empty_block">
  <i class="icon icon_scorecard"></i>
  <h1 class="empty_title">No Scorecards</h1>
  <p class="empty_text">After a scorecard is generated, you can push it to a brand</p>
</div>
