<div class="empty_block empty_block_pt">
  <i class="icon icon_scorecard"></i>
  <h1 class="empty_title">No Scorecards Available</h1>
  <p class="empty_text">To request a scorecard for a specific startup, click on<br> “request scorecard” on startup’s profile</p>
</div>
