<div class="custom_graph_wrap clearfix">
  <div class="custom_graph" data-y-score="<%= scorecard.pc_score %>" data-x-score="<%= scorecard.b_score %>">
    <div class="custom_graph_content">
      <div class="custom_graph_text">
        Pass
      </div>
      <div class="squares_grid">
        <div class="squares_top squares_row clearfix">
          <div class="square_col square_top_left">
            <div class="square square_md_vert">
              <div class="square_content">
                Track
              </div>
            </div>
          </div>
          <div class="square_col square_top_right">
            <div class="square square_lg">
              <div class="square_content">
                Explore
              </div>
            </div>
            <div class="square square_xs" style="background-image: url('file://<%= Rails.root.join('app/assets/images/square_bg.png') %>');">
              <div class="square_content">
                No Brainer!
              </div>
            </div>
          </div>
        </div>
        <div class="squares_bot squares_row clearfix">
          <div class="square_col square_bot_left">
          </div>
          <div class="square_col square_bot_right">
            <div class="square square_md_hor">
              <div class="square_content">
                Track
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="graph_text">
        <div class="graph_text_item graph_text_top">high product &amp; collaboration scores</div>
				<div class="graph_text_item graph_text_right">perfectly aligned to business</div>
				<div class="graph_text_item graph_text_bot">low product &amp; collaboration scores</div>
				<div class="graph_text_item graph_text_left">not aligned to business</div>
      </div>
      <div class="graph_point" style="left: 0px; bottom: 0px;"></div>
    </div>
  </div>
</div>
