<div class="preview_block no_scoring">
  <h3 class="bordered_title">SCORING</h3>
  <div class="img_holder_outher img_holder_lg">
    <div class="img_holder_inner">
      <i class="icon icon_stats"></i>
      <div>Calculate Startup Score</div>
    </div>
  </div>
</div>
