<div class="panel-heading clearfix placeholder_styles">
  <span class="panel_img">
    <span class="panel_img_holder"></span>
  </span>
  <div class="panel_info">
    <div class="panel_info_title"></div>
    <div class="panel_info_name_date clearfix">
      <span class="panel_info_name"></span>
      <span class="panel_info_date"></span>
    </div>
  </div>
</div>