<div class="detail_item_title">
  KEYWORD TAGS
  <a href="javascript:;" class="js__show__tags" id="js__show__tags_<%= @startup.id %>">
    <span>+ Add tags</span>
    <span>&times; Cancel</span>
  </a>
</div>
<div class="detail_item_content">
  <input type="text" name="tags" placeholder="Add a new tag" class="tags__block--input"/>
  <div class="tags__block--tags clearfix"></div>
</div>