<div class="sign_up_info sm_size">
  <span class="icon_mark_holder"><i class="icon icon_mark"></i></span>
  <div class="sign_up_info_title">Almost there! <br> Fill out your brand brief.</div>
  <div class="sign_up_info_text">Answer a few questions to help us understand the types of startups you are interested in.</div>
</div>
<%= link_to 'START NOW', new_brand_brief_summary_path(invite_token: @invite.token), class: 'btn btn_default btn_black' %>
