<div class="sign_up_info sm_size">
  <span class="icon_mark_holder"><i class="icon icon_mark"></i></span>
  <div class="sign_up_info_title">You're almost done. <br> Answer a few questions</div>
  <div class="sign_up_info_text">This simple, 8-question self-assessment will help you learn how to bridge the gap between you THINK and ACT regarding technology.</div>
</div>
<%= link_to 'START NOW', new_user_diagnostic_summary_path(invite_token: @invite.token), class: 'btn btn_default btn_black' %>
