<div class="sign_up_info md_size">
  <span class="icon_mark_holder"><i class="icon icon_mark"></i></span>
  <div class="sign_up_info_title">Thank you for registering</div>
  <div class="sign_up_info_text">To complete your registration, please check your email and click the link to confirm your email address.</div>
</div>
<div class="sign_up_bot_text absolute">
  <%= link_to 'Resend email', new_confirmation_path(resource_name), class: 'link_md' %><br />
</div>