<div class="slide-panel from-top" data-btn="advance_search">
  <div class="slide-panel-container">
    <div id="search-container" class="slide-panel-content slide-panel-content_pb">

    </div> <!-- slide-panel-content -->
  </div> <!-- slide-panel-container -->
</div> <!-- slide-panel -->