<span class="card_item md_size searched_card placeholder_styles">
  <span class="card_middle_block">
    <h3 class="card_title"></h3>
    <span class="card_subtitle"></span>
  </span>
  <span class="card_bot_block">
    <span class="user_details">
      <span class="user_details_img"></span>
      <span class="user_details_info">
        <span></span>
        <span></span>
      </span>
    </span>
  </span>
</span>