<div class="empty_block empty_block_pt">
  <i class="icon icon_clock_search"></i>
  <h1 class="empty_title">You have no saved searches.</h1>
  <p class="empty_text">Once you or a team member creates and save a search query it will appear here-<br>making it easy to continue to requery!</p>
</div>
