<div class="empty_block empty_block_pt">
  <i class="icon icon_search"></i>
  <h1 class="empty_title">Nothing Found</h1>
  <p class="empty_text">Try other query. No results matched your search terms</p>
</div>