<div class="box_row placeholder_styles">
  <div class="box item_box">
    <span class="list_item_detail">
      <span class="brand_img_holder"></span>
      <span class="list_name"></span>
      <span class="list_site"></span>
    </span>
  </div>
  <div class="box hidden_box hidden-xs">
    <div class="hidden_box_left"></div>
    <div class="hidden_box_right"></div>
  </div>
  <div class="box hidden-xs"><span class="list_label evo_label"></span></div>
  <div class="box text-center visible-lg">
    <span class="placeholder_sm_circle"></span>
  </div>
  <div class="box links_box text-center hidden-xs">
    <a href="#" class="dots_link"><i class="icon icon_dots"></i></a>
  </div>
</div>