<div class="empty_block empty_block_pt">
  <i class="icon icon_message_light"></i>
  <h1 class="empty_title">Ask Evol8tion</h1>
  <p class="empty_text">Need more information about this startup? Ask the Evol8tion team. </p>
  <%= link_to 'Send Question', new_request_path(startup_id: @startup.id), class: "btn btn_add btn_in_empty", remote: true %>
</div>