<div class="empty_block empty_block_pt">
  <i class="icon icon_email"></i>
  <h1 class="empty_title">No Incomplete Profiles</h1>
  <p class="empty_text">All startups who have joined Pipeline have filled out a <br> profile!</p>
</div>
