<div class="empty_block empty_block_pt">
  <i class="icon icon_email"></i>
  <h1 class="empty_title">Invite Startups to Apply</h1>
  <p class="empty_text">Add startups, you want to invite, to the Watchlist. Then you <br> can send them an invite </p>
</div>