<div class="empty_block empty_block_pt">
  <%= link_to 'Send Question', new_startup_profile_question_path(@startup), class:'btn btn_add btn_mobile visible-xs btn_open_panel', data: { panel: 'send_questions' }, remote: true %>
  <i class="icon icon_message_light"></i>
  <h1 class="empty_title">You haven't asked the startup any questions.</h1>
  <p class="empty_text">Create your first question to ask the startup. <br /> You'll see their responses here.</p>
</div>