<div class="empty_block empty_block_pt">
  <i class="icon icon_email"></i>
  <h1 class="empty_title">No Startups on Your Watchlist</h1>
  <p class="empty_text">Add startups to your watchlist by clicking on the pencil icon <br>on the top right of your Pipeline</p>
</div>
