<div class="empty_block empty_block_pt">
  <i class="icon icon_email"></i>
  <h1 class="empty_title">Invite Startups to Join Your Pipeline</h1>
  <p class="empty_text">Invite startups to join your pipeline by sending them a customized <br>landing page URL</p>
</div>
