<% Startup::STEPS.each do |step| %>
  <div class="slide-panel from-right" data-btn="startup-<%= step %>-step">
    <div class="slide-panel-container <%= width %>">
      <div id="startup-<%= step %>-step" class="slide-panel-content slide-panel-content_pb"></div>
    </div>
  </div>
<% end %>