<div class="box_row clearfix box_head hidden-xs">
  <div class="box item_box">STARTUP</div>
  <div class="box hidden_box">
    <div class="hidden_box_left">LOCATION</div>
    <div class="hidden_box_right">DATE ADDED</div>
  </div>
  <div class="box">
    <span class="box_text_pl">TYPE</span>
  </div>
  <div class="box text-center visible-lg">TAGS</div>
  <div class="box text-center links_box">ACTIONS</div>
</div>