<%= render 'layouts/startup/sidebar_details' %>
<div class="content_sm content_pt">
  <%= render 'layouts/startup/top_menu' %>
  <% if @profile_questions.empty? %>
      <%= render 'empty_questions' %>
  <% else %>
    <%= render 'present_questions' %>
  <% end %>
</div>

