<div class="promo_item placeholder_styles">
  <div class="promo_img"></div>
  <div class="promo_content">
    <h2 class="promo_title"></h2>
    <div class="promo_subtitle"></div>
    <span class="styled_label"></span>
  </div>
</div>