<div>
  <div>
    <div style="float:left;">EDIT PROMO PAGE</div>
    <div style="float:right;margin: 0px 20px 0px 10px;">QUESTIONS</div>
    <div style="float:right;margin: 0px 20px 0px 10px;">SIGN UP</div>
    <div style="float:right;margin: 0px 20px 0px 10px;">DETAILS</div>
    <div style="float:right;margin: 0px 20px 0px 10px;">INTRO</div>
  </div>
  <br>
  <hr>
  <br>
  <%= render "form" %>
</div>