<div class="empty_block empty_block_pt">
  <i class="icon icon_user_round"></i>
  <h1 class="empty_title">No activity yet!</h1>
  <p class="empty_text">A history of user activity will be shown here.</p>
</div>