<div class="empty_block empty_block_pt">
  <i class="icon icon_user_round"></i>
  <h1 class="empty_title">This user has not passed diagnostic yet.</h1>
  <p class="empty_text">Use lists to collect startups. To add a startup clcick on list <br> icon next ti this startup and select a list</p>
</div>