<div class="empty_block">
  <i class="icon icon_doc2"></i>
  <h1 class="empty_title">Create a Template</h1>
  <p class="empty_text">Templates are used to generate scorecards for brand briefs</p>
</div>
