<div class="slide-panel-container">
	<div class="slide-panel-content">

		<%= render 'scorecard_templates/show_content' %>

		</div> <!-- slide-panel-content -->
	</div> <!-- slide-panel-container -->
</div>
