<div class="scorecard-template-show-cont">
  <%= render 'scorecard_templates/show_content', back_url: scorecard_templates_path %>
</div>
<div id="slidePanel" class="slide-panel from-right template_panel">
</div> <!-- slide-panel -->
