<div class="sign_up_info md_size">
  <span class="icon_mark_holder"><i class="icon icon_mark"></i></span>
  <div class="sign_up_info_title">Check your email</div>
  <div class="sign_up_info_text">
    We sent you a link to reset your password. <br class="hidden-xs">
    It make take a few minutes for you to receive the email.
  </div>
</div>
<div class="sign_up_bot_text absolute">
  <%= link_to 'Re-send e-mail', new_user_password_path, class: 'link_md' %>
  <br />
  <%= link_to 'Go Back', new_user_session_path, class: 'link_sm go_back_link' %>
</div>