<span class="card_item sm_size brand_startup placeholder_styles">
  <span class="card_ava_md card_ava"></span>
  <span class="card_middle_block">
    <h3 class="card_title"></h3>
    <span class="card_site"></span>
    <span class="card_location"></span>
  </span>
  <span class="card_bot_block">
    <p></p>
  </span>
</span>