<div class="dashboard__pane--graph clearfix">
  <h4 class="dashboard__pane--title clearfix">STARTUP ENTRY HISTORY</h4>
  <div class="graph_labels">
    <span class="graph_label_item"><i style="background-color: #e366a4;"></i>New Founder Submitted Profiles</span>
    <span class="graph_label_item"><i style="background-color: #52586b;"></i>New Watchlist Entries</span>
  </div>
  <div id="graph" class="graph"></div>
</div>
