<div class="dashboard__pane--logos_empty">
  <i class="icon icon_empty_dash"></i>
  <strong>Help brands promote</strong>
  <p>No startups have recently joined Pipeline from <br>Brands Promo Pages</p>
</div>
