<div class="empty_block empty_tags_search">
  <i class="icon icon_search"></i>
  <h1 class="empty_title">Nothing Found</h1>
  <p class="empty_text">No results match your search terms. Try another query.</p>
</div>
