<div class="page_container">
  <div class="pages_not_found">
    <%= image_tag('layout/404.png', alt: '404') %>
    <div class="warning_text">
      The page you were looking for doesn't exist
    </div>
    <div class="warning_text_help">
      You may have mistyped the address or the page may have <br> moved
    </div>
  </div>
</div>