<div class="empty_block empty_block_pt">
  <i class="icon icon_push"></i>
  <h1 class="empty_title">No startups have been shared</h1>
  <p class="empty_text">All pushed startups will appear here.</p>
</div>