<div class="empty_block empty_block_pt">
  <i class="icon icon_pen_round"></i>
  <h1 class="empty_title">This Brand Has Not Asked Any Questions</h1>
  <p class="empty_text">Brand requests and questions will appear here.</p>
</div>