<div class="empty_block empty_block_pt">
  <i class="icon icon_doc"></i>
  <h1 class="empty_title">Brand brief has not been answered</h1>
  <p class="empty_text">The brief will appear here once answered by the brand admin.</p>
</div>